.header {
  display: flex;
  height: 105px;
  margin: 92px 24px 96px;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  width: 391px;
  height: 50;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
   
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
 list-style: none;
}

.header__link {
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
  margin-right: 13px;
}

.header__logo {
  display: block;
  height: 105px;
  width: 148px;
  margin-right: 185px;
  margin-left: 36px;
}
.header__logo-image {
  height: 105px;
  width: 148px;
}

.address {
  width: 240px;
  line-height: 135%;
  text-underline-offset: 3px;
  
}

.fs-normal {
  font-style: normal;
}