.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 92px 50px 96px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  font-weight: 400;
}

.header__menu {
  border: 1px solid ;
}

.header__links-list {
  display: flex;
  gap: 32px
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
 list-style: none;
}

.header__link {
  letter-spacing: 0.01em;
  text-underline-offset: 5px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  align-self: center;
  height: 105px;
  width: 148px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  line-height: 135%;
  text-underline-offset: 3.5px;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 18px;
  max-width: 240px;
}

.fs-normal {
  font-style: normal;
}

.cover {
  position: relative;
  z-index: 1;
  height: 757px;
  color: #fff;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}

.cover__title {
  position:relative;
  font-size: 100px;
  text-transform: uppercase;
  padding: 165px 50px 137px;
  line-height: 115%;
  letter-spacing: 0.3em;
}

.cover-text {
  display: block;
}

.aligned-text_center {
  line-height: 100%;
  margin-top: 18px;
  text-align: center;
}

.aligned-text_right {
  line-height: 100%;
  margin-top: 20px;
  padding-left: 583px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0.3em
}

.cover__description {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 19px;
  padding-left: 28px;
  margin-top: 13px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
}

.lots {
  color: #000;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 179px 915px 27px 64px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.lots__card-list-item {
  min-width: 334px;
  list-style-type: none;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  display: flex;
  height: 100%;
  position:relative;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 51px;
  padding-bottom: 48px;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  width: 254px;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  width: 254px;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}
.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}
.lots__look-more-link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 64px;
  text-underline-position: under;
  
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
}

.about__column {
  display: grid;
  margin-left: 23px;
  margin-top: 181px;
  justify-content: center;
  
}

.about__logo {
  display: flex;
  background: #000;
  width: 240px;
  height: 240px;
  border-radius: 100%
}

.about__logo-image {
  display: block;
  width: 148px;
  margin: auto;
}

.right_section {
  margin-right: 24px;
  margin-top: 284px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 100px;
}

.about__text {
display: flex;
flex-direction: column;
gap: 24px;
}

.paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.footer {
  display: flex;
  margin: 180px 50px 88px;
  justify-content: space-between;
}

.footer__menu-list {
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-align: center;
  line-height: 116%;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: grid;
  gap: 48px;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}

.footer__social-icon {
  max-width: 48px;
}